<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @station.code %>
</p>

<p>
  <b>Location:</b>
  <%= @station.location %>
</p>


<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
